
body {
	background-color: brown;
	font-family: times new roman;
	}

#start {
background-color:pink;
border-color:red;
border:solid 1px grey;}


ul {
	list-style-type:none;
	width: 200px;
	background-color:gray;
	border-bottom: 1px solid #5555555;
}

li {
	text-align:center:
border-bottom: 1px solid #5555555;
}

li a {
	display:block;
	color: black;
	padding: 8px 16px:
	text-decoration; none;
}

ul li {
float:left;}